.calculator-container {
  width: 270px;
  padding: 20px;
  margin: 50px auto;

  border-radius: 12px;
  border: 8px solid black;
  background-color: rgb(183, 182, 182);
}

.display {
  height: 50px;
  margin-bottom: 15px;
  padding: 0 15px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: #eee;
  border-radius: 8px;

  font-size: 32px;
  color: #222;

  overflow: hidden;
}

.button-grid {
  display: grid; /* グリッドレイアウト */
  grid-template-columns: repeat(4, 60px); /* 列の定義: 4列、各列の幅60px */
  gap: 8px; /* グリッド間の隙間 */
}

button {
  height: 60px;

  border: none;
  border-radius: 8px;

  background-color: #444;
  color: white;

  font-size: 22px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.clear {
  background-color: #b33;
}

.equal {
  background-color: green;
}